:root {
  --gradient: linear-gradient(90deg, #fff 0%, #fff 100%);
  --light: #B3DADC;
  --grey: #000;
    --color_0: 255,255,255;
    --color_1: 255,255,255;
    --color_2: 0,0,0;
    --color_3: 255,203,5;
    --color_4: 237,28,36;
    --color_5: 0,136,203;
    --color_6: 0,0,0;
    --color_7: 0,0,0;
    --color_8: 255,255,255;
    --color_9: 0,145,255;
    --color_10: 255,255,255;
    --color_11: 255,255,255;
    --color_12: 244,243,242;
    --color_13: 175,175,175;
    --color_14: 128,128,128;
    --color_15: 65,65,65;
    --color_16: 184,235,232;
    --color_17: 145,214,211;
    --color_18: 68,194,188;
    --color_19: 45,129,125;
    --color_20: 23,65,63;
    --color_21: 254,233,189;
    --color_22: 253,222,156;
    --color_23: 252,191,58;
    --color_24: 168,127,39;
    --color_25: 84,64,19;
    --color_26: 248,211,173;
    --color_27: 241,186,132;
    --color_28: 235,128,21;
    --color_29: 156,85,14;
    --color_30: 78,43,7;
    --color_31: 254,210,202;
    --color_32: 252,164,149;
    --color_33: 189,123,112;
    --color_34: 126,82,74;
    --color_35: 63,41,37;
    --font_0: normal normal normal 35px/1.4em wfont_5d22b8_7f34c249fccf47f5b6a6087ab7683cbd,wf_7f34c249fccf47f5b6a6087ab,orig_spectral_bold;
    --font_1: normal normal normal 15px/1.1em 'lucida sans unicode','lucida grande',sans-serif;
    --font_2: normal normal normal 16px/1.4em wfont_5d22b8_43244af5edd24b4888757cba8089731b,wf_43244af5edd24b4888757cba8,orig_brandon_grotesque_medium;
    --font_3: normal normal normal 20px/1.4em wfont_5d22b8_7f34c249fccf47f5b6a6087ab7683cbd,wf_7f34c249fccf47f5b6a6087ab,orig_spectral_bold;
    --font_4: normal normal bold 16px/1.4em wfont_5d22b8_21124df130974b6f9c58df0e246327cb,wf_21124df130974b6f9c58df0e2,orig_spectral_semibold;
    --font_5: normal normal normal 28px/1.2em 'lucida sans unicode','lucida grande',sans-serif;
    --font_6: normal normal normal 20px/1.4em wfont_5d22b8_da9313fe03cf4beaac315b8bfae7e46e,wf_da9313fe03cf4beaac315b8bf,orig_brandon_grotesque_bold_italic;
    --font_7: normal normal normal 16px/1.4em brandon-grot-w01-light,sans-serif;
    --font_8: normal normal normal 20px/1.4em wfont_5d22b8_05beb0c6b2344bdab97716db9d41a1c1,wf_05beb0c6b2344bdab97716db9,orig_brandon_grotesque_regular_italic;
    --font_9: normal normal normal 13px/1.3em 'open sans',sans-serif;
    --font_10: normal normal normal 12px/1.3em 'open sans',sans-serif;
    --wix-ads-height: 0px;
    --wix-ads-top-height: 0px;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --minViewportSize: 320;
    --maxViewportSize: 1920;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
.main-bgcolor {
  background-image: var(--gradient);
}
.light-color {
  color: var(--light) !important;
}
.grey-bgcolor {
  background: var(--grey);
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  color: #000;
  font-weight: 400;
  font-size: 70px;
  font-kerning: unset;
  margin-top: 100px;
  }
  h2 {
   font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  }

.section {
  padding: 50px 0;
}

.section-body {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #000;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}